.logo{
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#search-bar{
	width:482px;
	height:44px;
	border-radius: 25px;
	border-style: solid;
	border-width:1px;
	background-image: url("img/magnifying-glass.png");
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 40px;
	font-size:18px;
}

.logo-img{
	padding-left: 120px;
	padding-bottom:20px
}

.button-group button{
	height:35px;
	width:36%;
	font-size: 16px;
	color:#5F6368;
	font-family: arial, sans-serif;
	background-color: #f4f4f4;
	margin: 5px;
	border-width:0px

}

.button-group{
	padding-left: 18%;
	padding-top: 25px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

	vertical-align: middle;
}

.header button{
	margin-right: 25px;
	background-color: #4486fa;
	border-width: 0;
	height: 30px;
	text-align: center;
	width:70px;
	font-family: arial;;
	font-size: 15px;
	color: white;
	margin-top: 10px;
}

.header a{
	text-decoration: none;
	color: #404040;
	font-family: arial;
	font-size: 13px;
}

.left-align{
	text-align: left;
	float: left;

}

.right-align{
	text-align: right;
	float: right;
}


li{
	display: inline-block;
	padding-right: 10px;
	padding-left: 15px;
	padding-top: 10px;
}

#app-icon{
	vertical-align: middle;
	margin-top: 3px;
	padding-right:10px;
}

.footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width:100%;
	padding-left: 1px;
	padding-bottom:5px;
	background-color: #f2f2f2;
	border-top-style: solid;
	border-width: thin;
	border-color: #e4e4e4;

}

.footer a{
	text-decoration: none;
	font-family: arial;
	font-size: 15px;
	color: #5f6368;
}

a:hover{
	text-decoration: underline;
}

